@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: radial-gradient(circle, rgba(195,34,190,1) 0%, rgba(3,5,94,1) 100%);
}

.heading {
  text-align: center;
  color: white;
  font-size: 3em;
}

.bubbleboard {
  height: 800px;
  width: 800px;
  background-color: white;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.problem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 3em 1em 3em;
  width: 750px;
  height: 100px;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(195,34,190,1) 0%, rgba(45,183,253,1) 100%);
  box-shadow: 2px 2px 2px gray;
  z-index: 99;
  opacity: .9;
}

.operator, .operand {
  margin: 0;
  font-size: 4em;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 80px;
  color: white;
}

.operator {
  margin: .2em;
  border-radius: 10px;
  background-color: blue;
  box-shadow: 2px 2px 2px black;
}

.score {
  text-align: center;
  font-size: 3em;
  color: white;
  margin: 1em;
}

.controls {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 1em;
}

.speed-control {
  display: flex;
  order: 2;
  align-items: center;
}

.operator-panel {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.plus, .times, .speed {
  color: lightgray;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1em;
  background-color: rgb(148, 61, 248);
  margin: .3em;
  border-radius: 10px;
}

.plus, .times {
width: 2em;
}

.plus, .medium {
  border: 3px solid lightgray;
}

.speed {
  width: auto;
  padding: 0 1em;
}
